# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.idea/

# file contains very sensitive information. 
# you do not want this as everybody can see this information and use it to attack the site.
/env
.env
