[run]
source =
    backend/apps

omit =
    */tests/*
    */migrations/*
    */__init__.py
    */settings.py
    */wsgi.py
    */asgi.py
    */manage.py

[report]
show_missing = True
skip_covered = True