body {
  position: relative;
  font-family: "Montserrat", sans-serif;

}
/* Navbar Styles */
.navbar {
  height: 70px;
  transition: background-color 0.3s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

.navbar-brand i {
  font-size: 1.5rem;
  color: white;
}
.scroll-top .navbar {
  background-color: transparent !important;
}

.btn-outline-light {
  border-radius: 20px;
  padding: 8px 16px;
  transition: background-color 0.3s ease-in-out;
}

.btn-outline-light:hover {
  background-color: white;
  color: black;
}


#header-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
  url(../assets/header_background.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 20%;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(101, 98, 98);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.header-title {
  text-align: center;
  position: relative;
  display: inline-block;
}

#header-section .staggered-subtitle {
  color: #d4d4d4 !important;
}

.staggered-subtitle {
  display: block;
  position: relative;
  left: 200px;
  top: 5px;
}

.container .middleUpper-pic {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

#middleUpper-section {
  background-color: #ecdfcc;
  padding: 80px 0;
}

section#middle-section {
  background-color: #d4d4d4;
  padding: 80px 0;
}

.col-md-6 {
  padding-left: 40px;
  padding-right: 40px;
}

.row.d-flex.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .col-md-6 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container .middleUpper-pic {
    height: 250px;
  }
}

section#lower-section {
  background-color: white;
  padding: 80px 0;
}

.lower-section-img {
  max-width: 100%;
  height: auto;
}

.gallery-item {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 20px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.gallery-container a:hover .gallery-item {
  transform: scale(1.2);
  filter: brightness(1.2);
}

.gallery-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrolling-gallery,
.scrolling-gallery-copy {
  display: flex;
  animation: scroll-left 30s linear infinite;
}

.scrolling-gallery:hover,
.scrolling-gallery-copy:hover {
  animation-duration: 30s;
}

.gallery-container a:hover .gallery-item {
  transition: transform 0.3s ease, filter 0.3s ease;
}


#footer .text-center p {
  color: white;
  text-align: center;
  font-size: 15px;
}


