body {
  position: relative;
}

header#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
  url(assets/header_background.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 20%;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(101, 98, 98);
}

.scroll-top .navbar {
  background-color: transparent !important;
}

.gallery-item {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
}

.gallery-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrolling-gallery {
  display: flex;
  animation: scroll-left 15s linear infinite;
}

.scrolling-gallery-copy {
  display: flex;
  animation: scroll-left 15s linear infinite;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 70vh;
  overflow: hidden;
}

#footer .text-center p {
  color: white;
  text-align: center;
  font-size: 15px;
}


